[submodule "mklittlefs"]
	path = mklittlefs
	url = https://github.com/owendswang/mklittlefs.git
    branch = arduino-2.0.11-lfs-name-max-64
[submodule "henloader"]
	path = henloader
	url = https://github.com/owendswang/ps4-psx8-pulse.git
    branch = mod
